@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */


* {
    margin: 0;
    padding: 0;
}

body {
    background: #dcdcdc;
}

/*------------header-----------------*/

header {
    position: relative;

    height: 56px;

    background: #228abf;
}

header .logo {
    display: block;
    float: left;
}

header .login {
    text-decoration: none;

    display: block;
    float: right;

    height: 56px;
    margin: 0 50px 0 20px;

    font: 20px arial,tahoma,sans-serif;

    color: #fff;
}

header .login img {
    margin: 20px 5px;
}

header .login span {
    float: right;

    margin: 16.5px 2px;
}

/*------------------------main section----------------------*/

.main {
    width: 1000px;
    height: 1000px;
    background: #fff;
    margin: 70px auto;
    border: 3px solid #e1e8ed;
    border-radius: 5px;
}

.main h1 {
    text-align: center;
}

.main a {
    border: 1px solid red;
}

/*-----------------footer section-----------------*/

footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    color: #808080;
    height: 48px;
}

footer p {
    text-align: center;
    padding-top: 15px;
}