@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */

#welcome__intro,
#user-action__msg {
    font: 20px/30px arial,sans-serif;
}

#welcome__intro p + p {
    margin-top: 20px;
}

#welcome__intro--title {
    font: 40px arial,sans-serif;
    margin: 20px 0;
}

.welcome__link {
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;

    
    padding: 10px 20px;

    font-size: 30px;

    color: #000;
    border: 1px solid #888;
    border-radius: .2em;
    outline: none;
    background: #fff;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    margin-left: 20px;
}

.welcome__link:hover {
    color: #fff !important;
    border-color: #228abf !important;
    background: #228abf !important;
}

footer {
    position: absolute;
    bottom: 0;
}
