@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,sans-serif;

    background: #eeeded;
}

/*------------header-----------------*/

header {
    position: relative;

    height: 56px;
    margin-bottom: 50px;

    background: #228abf;
}

#head__logo--img {
    cursor: pointer;

    margin-left: 70px;
}

/*#head__user-info {
    display: block;
    float: right;

    margin-right: 30px;
    cursor: pointer;
    padding: 0 30px;
}

#head__user-info:hover {
    background: #6495ED;
    height: 53px;
    border-bottom: 3px solid #FF7F50;
}

*/

#head__user-info {
    cursor: pointer;

    float: right;

    min-width: 150px;
    height: 56px;
    margin-right: 50px;

    background-color: #459bc7;
    list-style-type: none;
}

#head__user-info--img {
    width: 40px;
    height: 40px;
    margin: 6px;
}

#head__user-info--name {
    float: right;

    margin-top: 16px;
    margin-right: 10px;

    font: 20px verdana,arial,tahoma,sans-serif;

    color: #fff;
}

#head__menu {
    position: absolute;
    right: 50px;
    visibility: hidden;

    list-style-type: none;
}

#head__menu a {
    text-decoration: none;
}

.head__menu-visible {
    visibility: visible !important;
}

.head__menu--choice {
    cursor: pointer;
    text-align: center;

    display: block;

    min-width: 150px;
    height: 40px;
    padding-top: 15px;

    font: 20px verdana,arial,tahoma,sans-serif;

    color: #fff;
    border-top: .1px solid #4169e1;
    background: #228abf;
}

.head__menu--choice:hover {
    background: #6495ed;
}

.head__login {
    cursor: pointer;
    text-decoration: none;

    display: block;
    float: right;

    height: 56px;
    padding: 0 40px;

    font: 20px arial,tahoma,sans-serif;

    color: #fff;
}

.head__login:hover {
    height: 53px;

    border-bottom: 3px solid #ff7f50;
    background: #6495ed;
}

.head__login img {
    margin: 20px 5px;
}

.head__login span {
    float: right;

    margin: 16.5px 2px;
}


/*------------------main body section-------------*/

.main-container {
    overflow: hidden;

    width: 891px;
    margin: 20px auto;
    padding: 20px;

    border: 1px solid #cbcbcb;
    border-radius: 10px;
    background: #fff;
}

.web-name {
    padding-right: 10px;

    font-weight: 700 !important;
    font-style: italic !important;
}

.float-background {
    position: fixed;
    z-index: 1;
    top: 56px;

    width: 100%;
    height: 100%;

    opacity: .7;
    background: #000;
}

/*------------------------signup/signin section------------------*/

.form-hidden {
    visibility: hidden;
}

.form-visible {
    visibility: visible;
}

#signup__form {
    position: fixed;
    z-index: 99;
    top: 20%;
    left: calc(50% - 243px);
    overflow: hidden;

    padding: 20px;

    border: 1px solid #cbcbcb;
    border-radius: 10px;
    background: #fff;
}

.close-icon {
    cursor: pointer;

    float: right;

    font-size: 30px;
}

#signup__form input,
#signin__form input {
    display: block;

    width: 400px;
    height: 50px;
    margin: 20px;

    font-size: 20px;
}

#signup__form--title {
    margin: 20px;

    font: 30px arial,sans-serif;
}

#signup__form--title img {
    position: relative;
    top: 5px;

    width: 171.36px;
    height: 36px;
}

#signin__form--logo img {
    width: 171.36px;
    height: 36px;
    margin-top: 20px;
    margin-left: 10px;
}

.signup__form--wrong {
    border-color: #f00 !important;
}

.signup__form--wrong-notice {
    margin: 10px 20px;

    font: 14px arial,sans-serif !important;

    color: #f00 !important;
}

#signup__form--warning,
.signup__form--notice,
.signin__form--notice {
    margin: 10px 20px;

    font: 14px arial,sans-serif;

    color: #ccc;
}

#signup__form--button,
#signin__form--button {
    cursor: pointer;
    vertical-align: middle;

    width: 404px !important;
    padding: 10px 20px;

    color: #fff;
    border: 3px solid #228abf;
    border-radius: .2em;
    outline: none;
    background: #228abf;
}

/*#signup__form--button:disabled,
#signin__form--button:disabled {
    opacity: .5;
}*/

#signup__form--signin,
#signin__form--signup {
    cursor: pointer;

    margin-left: 5px;

    font-weight: 700;

    color: #228abf;
}

#signin__form {
    position: fixed;
    z-index: 99;
    top: 20%;
    left: calc(50% - 243px);
    overflow: hidden;

    padding: 20px;

    border: 1px solid #cbcbcb;
    border-radius: 10px;
    background: #fff;
}

.cross {
    font-weight: 700;

    color: #f00;
}

#signup__form--error,
#signin__form--accounterror,
#signin__form--passworderror {
    display: none;

    margin: 0 20px;

    font: 14px arial,sans-serif;

    color: #f00;
}





/*------------------------footer section-------------*/

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;

    height: 48px;

    color: #808080;
    background: #000;
}

footer p {
    text-align: center;

    padding-top: 15px;
}
