@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */


* {
    margin: 0;
    padding: 0;
}

/*------------header-----------------*/

header {
    position: relative;

    height: 56px;

    background: #228abf;
}

header .logo {
    display: block;
    float: left;



}

header .login {
    text-decoration: none;

    display: block;
    float: right;

    height: 56px;
    margin: 0 100px 0 20px;

    font: 20px arial,tahoma,sans-serif;

    color: #fff;
}

header .login img {
    margin: 20px 5px;
}

header .login span {
    float: right;

    margin: 16.5px 2px;
}

/*--------------------left sidebar---------------*/

.left-sidebar {
	width: 400px;
	height: 1213px;
	background: #2a2e3d;
	float: left;
	color: #ededf0;
}

.user .info {
	width: 300px;
	margin: 50px auto;
}

.user .info img {
	border: 2px solid #b9babe;
	border-radius: 64px;
	padding: 2px;
	background: #fff;
}

.user .info p {
	float: right;
	font: 20px arial,tahoma,sans-serif;
	padding: 22.5px 15px 22.5px 0;
}

/*------------------------footer section-------------*/

footer {
    clear: both;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    color: #808080;
    height: 48px;
}

footer p {
    text-align: center;
    padding-top: 15px;
}