@charset "UTF-8";

#notice h1 {
    text-align: center;

    margin: 50px 20px;

    font: 700 36px arial,tahoma,sans-serif;

    color: #000;
}

#notice p {
    text-align: center;

    margin: 20px 20px;

    font: 20px arial,tahoma,sans-serif;
}

.score {
    margin-right: 10px;
    margin-left: 10px;

    font: 700 26px arial,tahoma,sans-serif;

    color: #ec6500;
}

.sign-link,
a {
    cursor: pointer;
    text-decoration: none;

    font-weight: 700;

    color: #6495ed;
    outline: none;
}

#tips1 p,
#tips2 p {
    font: 20px/40px arial,tahoma,sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
}
