@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */

#user-status p {
    margin: 20px;

    font: 18px/28px Arial,sans-serif;
}

#user-status__intro--times,
#user-status__intro--average {
    padding: 10px;

    font: 700 24px Arial,sans-serif;

    color: #ec6500;
}

input[type="button"]:hover {
    color: #fff !important;
    border-color: #228abf !important;
    background: #228abf !important;
}

#user-action__table {
    text-align: center;

    width: 800px;
    margin: 10px auto;

    font: 24px Arial,sans-serif;
}

#user-action__table td {
    height: 80px;
}

#user-action__table input[type="button"] {
    cursor: pointer;
    vertical-align: middle;

    width: 300px;
    padding: 10px 20px;

    font-size: 30px;

    border: 1px solid #888;
    border-radius: .2em;
    outline: none;
    background: #fff;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
}

#username {
    font-weight: 700;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
}
