@charset "UTF-8";
/*   "Helvetica Neue", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif     */

#single-choice__title,
#multiple-choice__title {
    text-indent: 1em;

    margin: -20px;
    margin-bottom: 20px;
    padding: 12.5px 5px;

    font: 20px arial,tahoma,sans-serif;

    color: #afb0b0;
    border-bottom: .5px solid #cbcbcb;
    background: #f4f5f6;
}

#single-choice__list,
#multiple-choice__list {
    list-style-type: none;
}

#single-choice__list li,
#multiple-choice__list li {
    padding: 20px;
}

#single-choice__list li:hover,
#multiple-choice__list li:hover {
    background: #f4f5f6;
}

#single-choice__list li:hover .single-choice__question-title--content,
#multiple-choice__list li:hover .multiple-choice__question-title--content {
    font-weight: 700;
}

.single-choice__question-title--content,
.multiple-choice__question-title--content {
    margin-bottom: 20px;

    font: 20px arial,tahoma,sans-serif;
}

.single-choice__question-title--classify,
.multiple-choice__question-title--classify {
    float: right;

    font: italic 12px Verdana,arial,tahoma,sans-serif;

    color: #808080;
}

.single-choice__question-title--question-order,
.multiple-choice__question-title--question-order {
    padding-right: 10px;
}

.single-choice__option-list,
.multiple-choice__option-list {
    margin-left: 36px;
}

.single-choice__option-list--label,
.multiple-choice__option-list--label {
    cursor: pointer;

    display: block;

    padding: 10px;
}


.single-choice__option-list--label:hover,
.multiple-choice__option-list--label:hover {
    background: #87ceeb;
}

.single-choice__option-list--radio {
	display: none;
}

.single-choice__option-list--radio + span {
	display: inline-block;
    width: 25px;
    height: 25px;

    outline: none;
    background: url(../img/radio-button.png) no-repeat 0 5px/20px 20px;


    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.single-choice__option-list--radio:checked + span {
    outline: none;
    background: url(../img/radio-button-checked.png) no-repeat 0 5px/20px 20px;
}

.single-choice__option-list--content,
.multiple-choice__option-list--content {
    position: relative;
    bottom: 4px;
    left: 10px;
}

.multiple-choice__option-list--checkbox {
	display: none;
}

.multiple-choice__option-list--checkbox + span {
	display: inline-block;
    width: 25px;
    height: 25px;

    outline: none;
    background: url(../img/checkbox-button.png) no-repeat 0 5px/20px 20px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.multiple-choice__option-list--checkbox:checked + span {
    outline: none;
    background: url(../img/checkbox-button-checked.png) no-repeat 0 5px/20px 20px;
}

#check-msg__time-left {
    text-align: center;

    margin-bottom: 40px;

    font: 700 30px Verdana,arial,tahoma,sans-serif;
}

#check-msg__time-left--time {
    font-size: 40px;

    color: #ec6500;
}

#check-msg__submit--button {
    cursor: pointer;
    vertical-align: middle;

    width: 300px;
    margin-left: 295.5px;
    padding: 10px 20px;

    font-size: 30px;

    border: 1px solid #888;
    border-radius: .2em;
    outline: none;
    background: #fff;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
}

#check-msg__submit--button:hover {
    color: #fff !important;
    border-color: #228abf !important;
    background: #228abf !important;
}

#multiple-choice {
    position: absolute;
}
